node_modules/
build/
dist/
.env
.env.local
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
coverage/
backend/saved_model/
backend/saved_model/
backend/saved_model_backup/
backend/*.zip
backend/rustup-init.exe
data/*.csv
*.zip
backend/saved_model/
backend/saved_model_backup/
backend/rustup-init.exe
data/*.csv
